<footer class="green-harvest-footer">
  <div class="container container-footer">
    <div class="footer-wrapper">
      <div class="footer-logo-box">
        <svg class="logo-footer">
          <use href="/img/sprite.svg#icon-desktop-tablet-logo"></use>
        </svg>
        <p class="footer-text">
          Whether you're looking for a healthy snack or a thoughtful gift, our
          fruit baskets are the perfect choice.
        </p>
      </div>
      <div class="footer-link-block">
        <div class="footer-menu-blok">
          <ul class="footer-menu-list">
            <li class="footer-menu-item">
              <a href="#how-it-works">how it works</a>
            </li>
            <li class="footer-menu-item">
              <a href="#vegetables">vegetables</a>
            </li>
            <li class="footer-menu-item"><a href="#reviews">reviews</a></li>
          </ul>
        </div>
        <div class="footer-contact-blok">
          <address class="footer-contact">
            <p class="footer-number-phone">
              <a href="tel:+380684439426">+380 (68) 443-94-26</a>
            </p>
            <p class="footer-bottom-text">
              1678 S. Pioneer Road Salt Lake City, UT 84104
            </p>
          </address>
        </div>
      </div>
    </div>
    <div class="footer-bottom">
      <div class="footer-bottom-link">
        <a href="#">Privacy Policy /</a>
        <a href="#">&nbsp;Cookie settings</a>
      </div>
      <p>©Green Harvest 2023</p>
    </div>
  </div>
</footer>
