<header class="page-header">
  <div class="container header-container">
    <nav class="header-page-nav">
      <a class="header-page-logo" href="./index.html">
        <svg class="header-mobile-logo" width="168" height="16">
          <use href="/img/sprite.svg#icon-mobile-logo"></use>
        </svg>

        <svg class="header-desktop-tablet-logo" width="194" height="18">
          <use href="/img/sprite.svg#icon-desktop-tablet-logo"></use>
        </svg>
      </a>

      <div class="header-container-menu">
        <ul class="header-menu">
          <li class="second-main-color">
            <a class="header-menu-link" href="#how-it-works">How It Works</a>
          </li>
          <li class="second-main-color">
            <a class="header-menu-link" href="#vegetables">Vegetables</a>
          </li>
          <li class="second-main-color">
            <a class="header-menu-link" href="#reviews">Reviews</a>
          </li>
        </ul>
      </div>
    </nav>
    <button class="header-burger-btn" type="button">
      <svg class="icon-burger-btn" width="32" height="32">
        <use href="/img/sprite.svg#icon-burger-btn"></use>
      </svg>
    </button>
    <button class="header-menu-btn second-main-color" type="button">
      SHOP NOW
    </button>
  </div>
</header>
