<div class="overlay-container-mobile-menu">
  <div class="container-mobile-menu second-accent-bg-color">
    <button class="close-button-mobile-menu icon-close" type="button">
      <svg width="32" height="32" class="icon">
        <use href="./img/sprite.svg#icon-close"></use>
      </svg>
    </button>
    <ul class="mobile-menu-menu-links second-main-color">
      <li><a href="#how-it-works">How It Works</a></li>
      <li><a href="#vegetables">Vegetables</a></li>
      <li><a href="#reviews">Reviews</a></li>
    </ul>
    <button href="#order" class="mobile-menu-shop-now-button second-accent-color" type="button">
      SHOP NOW
    </button>
  </div>
</div>

