<section class="section second-accent-bg-color" id="vegetables">
  <div class="container">
    <h2 class="header-vegetables second-main-color">
      Organic <span class="span-vegetables">Vegetables</span>
    </h2>
    <p class="description-vegetables second-main-color">
      Our organic vegetables are hand-picked from local farms and delivered
      straight to your doorstep, ensuring that you get the freshest and most
      nutritious produce possible.
    </p>
    <ul class="card-list-vegetables">
      <li class="card-vegetables">
        <h3 class="card-vegetables-name second-accent-color">eggplant</h3>
        <p class="card-vegetables-description">60 USD / kg</p>

        <img
          src="/img/vegetables/eggplant.png"
          srcset="/img/vegetables/eggplant@2x.png 2x"
          alt="eggplant"
          width="282"
          height="243"
        />
      </li>

      <li class="card-vegetables">
        <h3 class="card-vegetables-name second-accent-color">leek</h3>
        <p class="card-vegetables-description">50 USD / kg</p>

        <img
          src="/img/vegetables/leek.png"
          srcset="/img/vegetables/leek@2x.png 2x"
          alt="leek"
          width="282"
          height="243"
        />
      </li>

      <li class="card-vegetables">
        <h3 class="card-vegetables-name second-accent-color">mushrooms</h3>
        <p class="card-vegetables-description">40 USD / kg</p>

        <img
          src="/img/vegetables/mushrooms.png"
          srcset="/img/vegetables/mushrooms@2x.png 2x"
          alt="mushrooms"
          width="282"
          height="243"
        />
      </li>

      <li class="card-vegetables">
        <h3 class="card-vegetables-name second-accent-color">corn</h3>
        <p class="card-vegetables-description">60 USD / kg</p>

        <img
          src="/img/vegetables/corn.png"
          srcset="/img/vegetables/corn@2x.png 2x"
          alt="corn"
          width="282"
          height="243"
        />
      </li>

      <li class="card-vegetables">
        <h3 class="card-vegetables-name second-accent-color">sweet potatoes</h3>
        <p class="card-vegetables-description">50 USD / kg</p>

        <img
          src="/img/vegetables/sweet-potatoes.png"
          srcset="/img/vegetables/sweet-potatoes@2x.png 2x"
          alt="sweet-potatoes"
          width="282"
          height="243"
        />
      </li>

      <li class="card-vegetables">
        <h3 class="card-vegetables-name second-accent-color">carrot</h3>
        <p class="card-vegetables-description">40 USD / kg</p>

        <img
          src="/img/vegetables/carrot.png"
          srcset="/img/vegetables/carrot@2x.png 2x"
          alt="carrot"
          width="282"
          height="243"
        />
      </li>
    </ul>
  </div>
</section>
