<section class="section second-accent-bg-color" id="order">
  <div class="container">
    <h2 class="your-order-text-block-header second-main-color">
      Fresh<span class="your-order-text-block-highlight"> Harvest </span>Box has
      got you covered
    </h2>
    <p class="your-order-text-block-paragraph second-main-color">
      Our boxes are packed with delicious, nutritious vegetables, perfect for
      anyone looking to eat healthier or support local farmers. Order your box
      today and start enjoying the best that nature has to offer!
    </p>

    <div class="your-order-form-link-block">
      <div class="your-order-orderform-block">
        <h3 class="your-order-orderform-block-header">
          ORDERING <span class="second-accent-color">FROM US</span> IS QUICK AND
          EASY! FILL OUT <span class="accent-color">THE FORM</span> BELOW AND WE
          WILL CONTACT YOU!
        </h3>
        <form class="your-order-orderform-block-form">
          <input
            aria-label="Full Name"
            type="text"
            name="name"
            placeholder="Full Name"
            required
            pattern="[A-Za-z ]+"
          />
          <input
            aria-label="Email"
            type="email"
            name="email"
            placeholder="Email"
            required
            pattern="([A-z0-9_.-]{1,})@([A-z0-9_.-]{1,}).([A-z]{2,8})"
          />
          <textarea name="comment" placeholder="Comment"></textarea>
          <button
            type="submit"
            class="your-order-orderform-block-form-button second-main-color accent-bg-color"
          >
            SEND
          </button>
        </form>
        <div class="overlay-message-call-back" id="overlay-message-call-back">
          <h3>
            WE <span class="second-accent-color">WILL</span><br />
            CALL YOU <br />
            BACK <br />
            <span class="accent-color">ASAP</span>!
          </h3>
        </div>
      </div>

      <div class="your-order-linkform-block accent-bg-color">
        <div class="your-order-linkform-block-picture-container">
          <picture>
            <source
              srcset="
                ./img/your-order-images/your-order.webp    295w,
                ./img/your-order-images/your-order@2x.webp 590w
              "
              media="(max-width: 767px)"
              sizes="295px"
              type="image/webp"
            />
            <source
              srcset="
                ./img/your-order-images/your-order.webp    528w,
                ./img/your-order-images/your-order@2x.webp 854w
              "
              media="(max-width: 1279px)"
              sizes="528px"
              type="image/webp"
            />
            <source
              srcset="
                ./img/your-order-images/your-order.webp     427w,
                ./img/your-order-images/your-order@2x.webp 1056w
              "
              media="(min-width: 1280px)"
              sizes="427px"
              type="image/webp"
            />
            <img
              src="./img/your-order-images/your-order.webp"
              alt="Juice preparation"
              class="your-order-linkform-block-image"
            />
          </picture>
        </div>
        <p class="your-order-linkform-block-paragraph">
          Follow us on our social networks:
        </p>
        <ul class="your-order-linkform-block-list second-main-color">
          <li>
            <a href="https://www.instagram.com/goitclub/" target="_blank"
              >instagram</a
            >
          </li>
          <li>
            <a href="https://www.facebook.com/goITclub/" target="_blank"
              >facebook</a
            >
          </li>
          <li>
            <a href="https://www.youtube.com/c/GoIT" target="_blank">youtube</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
