.container-advertisement {
  padding-left: 10px;
  padding-right: 10px;
}

.advertisement-text {
  font-weight: 600;
  font-size: 48px;
  line-height: 1.04;
  letter-spacing: -0.01em;
  text-transform: uppercase;
}

.advertisement-text-first-part {
  display: block;

  border-radius: 12px;
  padding: 1px 10px;
}

.advertisement-text-second-part {
  display: block;

  padding-left: 10px;
  padding-right: 10px;
  transform: translateY(-1px);

}

@media only screen and (min-width: 768px) {
  .container-advertisement {
    padding-left: 16px;
    padding-right: 16px;
  }

  .advertisement-text {
    font-size: 64px;
    line-height: 1.09;
  }

  .advertisement-text-first-part {
    min-width: 736px;
    padding: 8px 16px;
  }

  .advertisement-text-second-part {
    padding-left: 16px;
    padding-right: 16px;
    transform: translateY(-8px);
  }
}

@media only screen and (min-width: 1280px) {
  .container-advertisement {
    padding-right: 113px;
    padding-left: 113px;
  }

  .advertisement-text {
    font-size: 76px;
    line-height: 1.05;
  }

  .advertisement-text-first-part {
    display: inline-flex;
    align-items: center;

    padding: 0;
    padding-left: 13px;
    margin-left: -13px;
    min-width: 808px;
    min-height: 86px;
  }

  .advertisement-text-second-part {
    display: inline;
    padding: 0;
    margin-left: -13px;
    transform: translateY(0);
  }
}
