/*==== How-It-Works ====*/

.section-how-it-works {
  counter-reset: section-counter;
  background-color: #7a3145;
  max-width: 375px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 40px;
  padding-bottom: 0;
}

.section-hiw-patch-first {
  padding-bottom: 40px;
}

.page-main-second-list-img {
  border-radius: 30px;
  margin-left: auto;
  margin-right: auto;
}

.section-hiw-patch-second {
  background-color: #576f35;
  padding-bottom: 80px;
}

.how-it-works-greendiv {
  padding-top: 80px;
  margin-left: auto;
  margin-right: auto;
}

.how-it-works-main-text {
  font-size: 28px;
  font-weight: 600;
  color: #fbfbfb;
  line-height: 1;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  padding-bottom: 20px;
}

.how-it-works-span {
  color: rgba(251, 251, 251, 0.3);
}

.how-it-works-text {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.29;
  color: #fbfbfb;
  padding-bottom: 40px;
}

.how-it-works-list {
  list-style: none;
}

.how-it-works-item {
  display: flex;
  align-items: center;
  background-color: #f6f6f6;
  border-radius: 20px;
  padding: 12px 27px 12px 24px;
  margin-bottom: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.how-it-works-item:last-child {
  margin-bottom: 0;
}

.card-counter .how-it-works-number::before {
  counter-increment: section-counter;
  content: counter(section-counter) '';
}
.how-it-works-item .how-it-works-number {
  content: counter(card-counter);
  background-color: rgb(122, 49, 69);
  color: #fbfbfb;
  margin-right: 24px;
  min-width: 52px;
  height: 52px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  font-size: 20px;
  border-radius: 100%;
  border-width: 5px;
  border-color: #e7bdff;
  border-style: solid;
}

.hiw-text {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: -0.02em;
  color: rgba(20, 20, 20, 0.6);
  max-width: 208px;
}

.hiw-black-bold {
  font-weight: 700;
  color: #141414;
}

/* --TABLET-- */
@media screen and (min-width: 768px) {
  .section-how-it-works {
    max-width: 768px;
    padding-top: 100px;
    padding-bottom: 0;
  }

  .section-hiw-patch-first {
    padding-bottom: 100px;
  }

  .how-it-works-greendiv {
    width: 450px;
    padding-top: 100px;
  }

  .how-it-works-main-text {
    padding-bottom: 25px;
    font-size: 32px;
  }

  .how-it-works-span {
    font-size: 32px;
    letter-spacing: -0.01em;
  }

  .how-it-works-text {
    font-size: 16px;
    line-height: 1.25;
    padding-bottom: 50px;
  }

  .hiw-text {
    font-size: 16px;
    line-height: 1.25;
    max-width: 325px;
  }

  .how-it-works-item {
    padding: 12px 25px 12px 24px;
  }

  .section-hiw-patch-second {
    padding-bottom: 100px;
  }
}
/* -- /TABLET-- */
/* -- DESKTOP-- */
@media screen and (min-width: 1280px) {
  .section-how-it-works {
    display: flex;
    max-width: 1280px;
    padding-top: 0;
    padding-bottom: 0;
  }

  .page-main-second-list-img {
    margin-top: 100px;
  }

  .section-hiw-patch-second {
    padding-bottom: 160px;
  }
}
/* --/DESKTOP-- */
