/* by Mykhailo Moiseiev */
/* Your order text info block */
.your-order-text-block-header {
  font-weight: 600;
  font-size: 48px;
  line-height: 1.04;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  margin-bottom: 29px;
}

.your-order-text-block-highlight {
  color: rgba(251, 251, 251, 0.3);
}

.your-order-text-block-paragraph {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  margin-bottom: 40px;
}

/* Block with contact form and links */
.your-order-form-link-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.your-order-orderform-block {
  border-radius: 30px;
  padding: 40px 20px;
  background-color: #fbfbfb;
  position: relative;
}

.your-order-orderform-block-header {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.08;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  margin-bottom: 40px;
}

.your-order-orderform-block-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-bottom: 20px;
}

.your-order-orderform-block-form textarea {
  margin-bottom: 20px;
  resize: none;
}

.your-order-orderform-block-form input,
.your-order-orderform-block-form textarea {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  outline: none;
}

.your-order-orderform-block-form input {
  border: 1px solid rgba(20, 20, 20, 0.2);
  padding-left: 16px;
  border-radius: 30px;
  height: 46px;
}
.your-order-orderform-block-form textarea {
  border: 1px solid rgba(20, 20, 20, 0.2);
  padding: 14px 16px 14px 16px;
  border-radius: 15px;
  height: 91px;
}
.your-order-orderform-block-form input:focus,
.your-order-orderform-block-form textarea:focus {
  border: 1px solid #7a3145;
}
.your-order-orderform-block-form input:not(:placeholder-shown):invalid {
  border-color: #e74a3b;
}
.your-order-orderform-block-form input:not(:placeholder-shown):valid {
  border-color: #3cbc81;
}

.your-order-orderform-block-form-button {
  border-radius: 30px;
  padding: 16px 0px;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  outline: none;
  width: 100%;
  border: none;
  transition: background-color 250ms ease;
}
.your-order-orderform-block-form-button:hover,
.your-order-orderform-block-form-button:focus {
  background-color: rgb(71, 91, 44);
}
.your-order-linkform-block {
  border-radius: 30px;
  padding: 40px 20px;
  flex-shrink: 0;
}
.your-order-linkform-block-picture-container {
  border-radius: 15px;
  overflow: hidden;
  height: 273px;
  margin-bottom: 20px;
}
.your-order-linkform-block-image {
  object-fit: cover;
  object-position: 10% 20%;
  width: 100%;
  height: 100%;
  filter: brightness(0.7);
  transform: scale(1.25);
}

.your-order-linkform-block-paragraph {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.01em;
  color: rgba(251, 251, 251, 0.5);
  margin-bottom: 14px;
}

.your-order-linkform-block-list li {
  display: inline-block;
  font-weight: 600;
  font-size: 24px;
  line-height: 1.08;
  letter-spacing: -0.01em;
}
.your-order-linkform-block-list li:not(:last-child) {
  margin-bottom: 8px;
}
.your-order-linkform-block-list li:not(:last-child)::after {
  content: '/';
  margin: 0px 8px;
}

@media only screen and (min-width: 768px) {
  .your-order-linkform-block-list li:not(:last-child) {
    margin-bottom: 0;
  }
  .your-order-linkform-block-list li:not(:last-child)::after {
    margin: 0px 12px;
  }
}

.your-order-linkform-block-list li a {
  display: inline-block;
  outline: none;
  transition: transform 500ms ease;
}

.your-order-linkform-block-list li a:hover,
.your-order-linkform-block-list li a:focus {
  transform: scale(1.07);
}

.overlay-message-call-back {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fbfbfb;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  border-radius: 30px;
  font-weight: 600;
  font-size: 40px;
  line-height: 1.04;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  padding: 50px;
  opacity: 0;
  visibility: hidden;
  transition: opacity 150ms ease, visibility 550ms ease;
}

.hidden-call-back {
  opacity: 1;
  visibility: visible;
}

@media only screen and (min-width: 768px) {
  .your-order-text-block-header {
    font-size: 64px;
    line-height: 1;
    margin-bottom: 25px;
  }
  .your-order-text-block-paragraph {
    font-size: 16px;
    line-height: 1.25;
    width: 640px;
    margin-bottom: 50px;
  }
  .your-order-form-link-block {
    gap: 25px;
  }
  .your-order-orderform-block {
    border-radius: 30px;
    padding: 50px 100px;
    width: 628px;
  }
  .your-order-orderform-block-header {
    margin-bottom: 50px;
  }
  .your-order-orderform-block-form input,
  .your-order-orderform-block-form textarea {
    font-size: 16px;
    line-height: 1.25;
  }
  .your-order-orderform-block-form textarea {
    margin-bottom: 25px;
  }
  .your-order-orderform-block-form-button {
    font-size: 18px;
    line-height: 1.11;
  }
  .your-order-linkform-block {
    width: 628px;
    padding: 50px;
  }

  .your-order-linkform-block-picture-container {
    margin-bottom: 50px;
  }
  .your-order-linkform-block-image {
    object-position: 0% 100%;
    transform: scale(1.3);
  }

  .your-order-linkform-block-paragraph {
    font-size: 18px;
    line-height: 1.11;
    margin-bottom: 15px;
  }
  .your-order-linkform-block-list li {
    font-size: 32px;
    line-height: 1;
  }
  .overlay-message-call-back {
    font-size: 48px;
  }
  .your-order-orderform-block-form input {
    height: 52px;
  }
  .your-order-orderform-block-form textarea {
    padding: 16px 16px 14px 16px;
    height: 95px;
  }
}

@media only screen and (min-width: 1280px) {
  .your-order-text-block-header {
    width: 751px;
  }
  .your-order-text-block-paragraph {
    width: 742px;
  }

  .your-order-form-link-block {
    flex-direction: row;
    align-items: stretch;
    gap: 24px;
  }

  .your-order-orderform-block,
  .your-order-linkform-block {
    width: calc((100% - 24px) / 2);
  }

  .your-order-orderform-block {
    padding: 50px;
  }

  .your-order-linkform-block-image {
    object-position: 0% 100%;
    transform: scale(1.4);
  }

  .your-order-linkform-block-list li:not(:last-child) {
    margin-bottom: 12px;
  }
}
